<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Form</title>
</head>
<body class="d-flex justify-content-center align-items-center" style="
  height: 95vh;
  background-image: url('{{ url_for('static', filename='images/purp.png') }}');
  background-size: cover;
  background-position: center">


<form class="container" action="/Thnks" method="post" enctype="multipart/form-data">
 <div class="card p-5 mt-5 " >
  <h1 class="card-title">Create Account</h1>
  <div class="card-text pt-3 mb-3" >Please fill out this form to Create your Account</div>
  {% if error_message %}
  <div class="alert alert-danger">{{ error_message }}</div>
  {% endif %}
  <div class="row">

    <div class="col-md-3 d-flex justify-content-center align-items-center">
    <img class=" rounded-circle img-thumbnail img-fluid" src="{{ url_for('static', filename='images/diff.jpg') }}" alt="User profile picture" id="pfp" style="max-width: 250px;"  >
  </div>
    <div class="col-md-9">
    <div class="row mb-5">
       <div class="col">
            <label for="Fname" class="form-label">Name:</label>
            <input id="Fname" type="text" name="Fname" class="form-control" value="{{fname or ''}}" placeholder="your name" required>
       </div>
      <div class="col">
             <label for="username" class="form-label">User name:</label>
             <input id="username" type="text" name="username" class="form-control" value="{{username or ''}}" placeholder="must be unique" required>
     </div>
   </div>

    <div class="row mb-5">
      <div class="col">
          <label for="email" class="form-label">Email:</label>
          <input id="email" type="email" name="email" class="form-control" value="{{email or ''}}" placeholder="youremail@gmail.com" required>
     </div>
      <div class="col">
        <label for="password" class="form-label">password:</label>
        <input type="password" name="password" class="form-control" placeholder="password" required>
      </div>
  </div>
</div>
  
</div>
      <div class="row mb-5">
        <div class="col offset-md-3">
           <label class="form-label d-block">Gender:</label>
           <input type="radio" id="male" name="gender" value="male" {% if gender == 'male' %}checked{% endif %} ></input>
            <label for="male">male</label>

           <input type="radio" id="female" name="gender" value="female" {% if gender == 'female' %}checked{% endif %} ></input>
           <label for="female">female</label>
        </div>
        <div class="col">
          <label class="form-label">Upload your profile picture:</label>
          <input  name="photo" type="file" class="form-control" id="pfpin" >
        </div>
        </div>
      
      <div class="row">
        <div class="col">
          <label for="tel" class="form-label">Tel number:</label>
          <input id="tel" type="tel" name="tel" class="form-control" value="{{tel or ''}}" placeholder="Ex:05-XX-XX-XX-XX">
        </div>

         <div class="col">
           <label for="country" class="form-label">Select your wilaya:</label>
           <select name="country" id="country" class="form-select">
             <option value="alg" {% if country == 'alg' %}selected{% endif %}>Alger</option>
             <option value="orn" {% if country == 'orn' %}selected{% endif %}>Oran</option>
             <option value="jj" {% if country == 'jj' %}selected{% endif %}>Jijle</option>
             <option value="ot" {% if country == 'ot' %}selected{% endif %}>other</option>
           </select>
         </div>
      </div>
 
    <div class="text-end mt-3">
     <button type="reset" class="btn btn-secondary ">reset</button>
     <button type="submit" class="btn btn-primary">submit</button>
   </div>
 </div>
</div>
</form> 

<script src="{{ url_for('static', filename='js/reactions.js') }}"></script>
</body>
</html>