<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Form</title>
</head>
<body class="d-flex justify-content-center align-items-center" style="
  height: 95vh;
  background-image: url(coolbackgrounds-unsplash-jilden.jpg);">
 <div class="card p-5 mt-5">
   <h1 class="card-title">Thank you </h1>
   <div class="card-text pt-3" >We will Contact you soon :)</div>
 </div>
</html>